<!DOCTYPE html>
<html>
  <head>
    <title><%= blocks.title %></title>
    <link rel='stylesheet' href='/vendor/bower_components/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
<script src='/vendor/bower_components/jquery/jquery.js'></script> 
 <script src='/vendor/bower_components/bootstrap/dist/js/bootstrap.js'></script> 
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  </head>
  <body>
 <script>
          function call() {
		var error = document.getElementById("error");
                error.innerHTML = "";
                var submitButton = document.getElementsByClassName("submitButton")[0];
                submitButton.innerHTML  = "loading";
                var form = $('#formx');
                var msg   = $('#formx').serialize();
                $.ajax({
			url: "login",
			type: "POST",
			data : msg,
			complete : function() {
				$(":submit", form).button("reset");
				},
                        statusCode : {
				200 : function(data) {
				   form.html("Вы вошли на сайт").addClass('alert-success');
                                 if (typeof data.redirect == 'string') {
                                        window.location = data.redirect;

                                    }
                                    else
                                        window.location.href = "/";
				   },
				403 : function(jqXHR) {
						var error = JSON.parse(jqXHR.responseText);
						$('.error', form).html(error.message);
					}
				}
                            });
 
    	};
	 </script>
<p> </p>
<form class="form-horizontal login-form"  method="POST" id="formx" action="javascript:void(null);" onsubmit="call()">
<div class="form-group">
<label for="input-username" class="col-lg-2 control-label">Имя</label>

   <div class="col-lg-10">
     <input name="username"   type="text" class="form-control" id="input-username" placeholder="Имя">
	 </div>
	 </div>
	 
	 <div class="form-group">
        <label for="input-password" class="col-lg-2 control-label">Пароль</label>

   <div class="col-lg-10">
     <input name="password"  type="password" class="form-control" id="input-password" >
	 </div>
	 </div>
	 
	 <div class="form-group">
	 <div class="col-lg-offset-2 col-lg-10">
	 <button type="submit" class="btn btn-primary submitButton"  data-loading-text="Отправляю..."> войти</button>
	 <span class="help-block error" id="error"></span>
	 </div>
	 </div>
	 </form>
	  </body>
</html>