<% layout('../layout/page') -%>
<% block('title', 'Расписание');%>
<p class="lead"> Дни!</p> 
<p> Добро пожаловать, <%=user.get('username')%></p>
<ul>
<% for(var i = 0; i < msgs.length; ++i) { %>
  <a href="?ident=<%=msgs[i].get('_id') %>"><p class="part"><%= msgs[i].get('text') %></p></a>
<% } %>
</ul>
